* {
    font-family: 'Permanent Marker', cursive;
    background-color: #E9C46A; 
}

h1 {
    font-size: 50px;
    text-align: center;
    border: black 3px solid;
    letter-spacing: 5px;
}

h2 {
    text-decoration: underline;
    letter-spacing: 5px;
}
